<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- o bootstrap foi criado no npm new: angular.json -->

  <!--  o codigo css foi movido para o arquivo correto para obter a responsividade : app.component.css/ angular.json// -->
</head>

<body>


  <button class="open-button" onclick="openForm()"> Cezinha </button>

  <div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <div id="introducao">

        <div id="logo">

          <img src="assets/imagens/logo-definitiva.png">

        </div>

        <div id="texto-intro">

          <p id="texto-texto">Olá, sou assistente virtual e estou aqui para te ajudar! <br><br>
            Digite sua dúvida ou pode navegar pelos card´s dos setores e ver as dúvidas mais frenquentes.</p>

        </div>

      </div>

      <div id="chat">

        <button class="btn btn-info" onclick="rh()">RH</button>
        <button class="btn btn-info" onclick="financeiro()">FINANCEIRO</button>
        <button class="btn btn-info" onclick="beneficios()">BENEFÍCIOS</button>
        <button class="btn btn-info" onclick="relogio()">RELÓGIO DE PONTO</button>
        <button class="btn btn-info" onclick="outros()">OUTROS</button>
        <button class="btn btn-info" onclick="faq()">FAQ</button>
        


        



        <label for="msg"><b></b></label>
        <textarea placeholder="" name="msg" required> </textarea>

        <button type="submit" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Fechar</button>

      </div>


    </form>
  </div>

</body>

</html>